<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="header-nav">
    <div class="header-left">
        {% comment %} <img src="{{ 'logo.png' | asset_url }}" height="70px" width="200px"> {% endcomment %}
        <h1>MediMart</h1>
    </div>
    <div  class="header-right">
        {%for link in linklists['main-menu'].links%}
            <li>{{link.title | link_to:link.url}}</li>
        {% endfor %}
        <li>{{ 'All Products' | link_to: '/collections/all' }}</li>

    </div>
</div>