<section class="page-header">
  <div class="title">{{ page_title }}</div>
<div>{{page.content}}</div>
</section>

<style>

  .title{
    font-size: 30px;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;

  }
  .desc{
    font-size: 20px;
  }
</style>
