<link rel="stylesheet" href="{{ 'landing.css' | asset_url }}" media="print" onload="this.media='all'">
<a href="/pages/add-product" class="btn">Add Product</a>


<section class="landing-page">
    <div class="container">
        <div class="landing-content">
            <h2>Welcome to Medimart</h2>
            <p>Your trusted online pharmacy for all your medication needs</p>
            <p>Convenient, reliable, and expertly curated for your well-being."</p>
        </div>
        <div class="landing-image">
            <img src="{{ 'landing3.jpg' | asset_url }}" alt="MediMart">
        </div>
    </div>
</section>
<style>
.btn{
font-size: 22px;
background-color: #1aa7ff;
padding: 10px;
text-decoration: none;
color: white;
float: right;
border-radius: 10px;
margin: 20px;
}
</style>

{%  schema  %} 
{
    "name":"Banner",
    "settings":[],
    "presets": [
        {
            "name":"banner"
        }
    ]
}
 {% endschema %}