<link rel="stylesheet" href="{{ 'landing.css' | asset_url }}" media="print" onload="this.media='all'">
<section class="landing-page">
    <div class="container">
        <div class="landing-content">
            <h2>Welcome to Medimart</h2>
            <p>Your trusted online pharmacy for all your medication needs</p>
            <p>Convenient, reliable, and expertly curated for your well-being."</p>
        </div>
        <div class="landing-image">
            <img src="{{ 'landin3.png' | asset_url }}" alt="MediMart">
        </div>
    </div>
</section>
{%  schema  %} 
{
    "name":"Banner",
    "settings":[],
    "presets": [
        {
            "name":"banner"
        }
    ]
}
 {% endschema %}