<link rel="stylesheet" href="{{ 'footer.css' | asset_url }}" media="print" onload="this.media='all'">
<footer>
    <div class="container">
        <p>&copy; 2024 MediMart - Your Online Pharmacy</p>
    </div>
</footer>
