<link rel="stylesheet" href="{{ 'footer.css' | asset_url }}" media="print" onload="this.media='all'">
<footer>
    <div class="footer-content">
        <div class="footer-section about">
            <h2>About Medimart</h2>
            <p>Medimart is your trusted online destination for all your healthcare needs. We strive to provide convenient access to quality medications and wellness products.</p>
            <div class="contact">
                <span><i class="fas fa-phone"></i> 123-456-7890</span>
                <span><i class="fas fa-envelope"></i> info@medimart.com</span>
            </div>
        </div>
        <div class="footer-section links">
            <h2>Quick Links</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section follow">
            <h2>Follow Us</h2>
            {% comment %} <div class="social-links">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div> {% endcomment %}
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 Medimart. All rights reserved.
    </div>
</footer>

