<link rel="stylesheet" href="{{ 'header.css' | asset_url }}" media="print" onload="this.media='all'">
<header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href= "/pages/about">About</a></li>
                <li><a href="/collections/all">Products</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/pages/contact">Contact</a></li>
            </ul>
        </nav>
</header>

