
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

p {
    margin: 0; 
}

p::before {
    content: "\00A9"; 
}

.footer-content p {
    display: inline;
    margin-left: 5px;
}
