/* Apply styles to header */
.header-nav {
    /* background-color: #88dffb7c;*/
   /* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.45);  */
   
   /* background: linear-gradient(109.5deg, rgb(76, 221, 242) 11.2%, rgb(92, 121, 255) 91.1%); */
   height: 4rem;
   justify-content: center;
}

.header-left {
    float: left;
    font-size: 18px;
    margin-left: 15px;

}

.header-right {
    float: right;
    display: flex;
    align-items: center; 
}

.header-right li {
    margin-right: 60px; 
    list-style-type: none;
    margin-top: 1.5rem;
    font-size: 20px;
}


.header-right a {
    color:black; 
    text-decoration: none;
}


.header-right li:hover a {
    text-decoration: underline;
    color: blue;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    opacity: 1;
}
