/* Apply styles to header */
.header-nav {
    background-color: #94e3fb; /* Light gray background */
    box-shadow: 0 0 10px rgba(138, 189, 234, 0.5);
   height: 4rem;
   justify-content: center;
}

/* Style the left side of the header */
.header-left {
    float: left;
}

/* Style the right side of the header */
.header-right {
    float: right;
    display: flex;
    align-items: center; /* Align items vertically */
}

/* Style the list items */
.header-right li {
    margin-right: 60px; /* Add some space between items */
    list-style-type: none; /* Remove default bullet points */
    margin-top: 1.5rem;
    font-size: 20px;
}

/* Style the links */
.header-right a {
    color: #333; /* Dark text color */
    text-decoration: none; /* Remove underline */
}

/* Change link color on hover */
.header-right li:hover a {
    color: blue;
}
