<div class="all-collections-wrapper">
  {% for collection in collections %}
    {% if collection.products.size > 0 %}
      <div class="collection-section">
        <h2>{{ collection.title }}</h2>
        <div class="collection-products">
          <div class="product-row">
            {% for product in collection.products %}
              <div class="product-card">
                <img width="150" height="150" src="{{ product.featured_image | image_url}}">
                <h4>{{- product.title | link_to: product.url }}</h4>
                <p>Price: {{ product.price | money }}</p>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>


<Style>
    .all-collections-wrapper {
  flex-wrap: wrap;
  margin-top: 20px;
}

.collection-section {
    width:full;
    margin: 20px;
    padding: 15px;
} 
.collection-section h2 {
  margin-bottom: 10px;
}

.collection-products {
  display: flex;
  flex-wrap: wrap;
}

.product-row {
  justify-content: space-evenly;
    display: flex;
  flex-wrap: nowrap; 
}

.product-card {
  margin-right: 1rem;
  width: 200px;
  height: 350px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    background-color: #ffffff;
    transition: transform 0.3s;

}
.product-card:hover{
  border: 1px solid black;
}

.product-card img {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
    height:250px;
    border-radius: 8px;
}

.product-card h4 {
  margin-top: 10px;
  font-size: 16px;
}

.product-card p {
  margin: 5px 0;
}

.show-all-button {
  text-align: right;
}

.show-all-button a {
  color: #007bff;
  text-decoration: none;
}

.show-all-button a:hover {
  text-decoration: underline;
}

</Style>