
    <header>
        <div class="container">
            <h1>About Us</h1>
        </div>
    </header>
    <main>
        <section class="about-section">
            <img class="about-img"src="{{ 'about.jpg' | asset_url }}" alt="about">
            <div class="container">
                <h2>Who We Are</h2>
                <p>Welcome to MediMart, your trusted source for high-quality medical supplies. We are committed to providing top-notch products and excellent customer service to meet all your healthcare needs.</p>
                <p>At MediMart, we understand the importance of accessibility to medical supplies, which is why we offer a wide range of products at competitive prices. Whether you're a healthcare professional, caregiver, or individual seeking medical supplies, we have everything you need to maintain your health and well-being.</p>
            </div>
        </section>
    </main>
<style>
  .about-img{
    width: 500px;
    height: 500px;
    margin-left: 20px;
    border-radius: 20px;
  }  
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
h1{
    align-items: center;
    text-align: center;
}

header {
    color: black;
    padding: 1.5rem 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


.about-section{
    display: flex;
}
.about-section, .team-section {
    padding: 1rem 0;
    text-align: center;
    margin-bottom: 3rem;
}

.about-section p {
    margin-top: 1rem;
    line-height: 1.6;
}

.team-member {
    margin-top: 2rem;
}

.team-member img {
    width: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
}



</style>