<form id="addProductForm">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"><br><br>
    
    <label for="price">Price:</label>
    <input type="text" id="price" name="price"><br><br>
    
    <label for="description">Description:</label><br>
    <textarea id="description" name="description"></textarea><br><br>
    
    <button type="submit">Add Product</button>
</form>

<script>
    document.getElementById('addProductForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        const apiKey = 'f4147b964e483f41373aa113389794dc';
        const password = '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';
        const shopUrl = 'medimartstore.myshopify.com';

        const title = document.getElementById('title').value;
        const price = document.getElementById('price').value;
        const description = document.getElementById('description').value;
        
        const authHeader = 'Basic ' + btoa(apiKey + ':' + password);
        console.log(authHeader);
        const response = await fetch(`https://{`${apiKey}:${password}`}@${shopUrl}/admin/api/2024-01/products.json`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': authHeader
            },
            body: JSON.stringify({
                "product": {
                    "title": title,
                    "variants": [{ "price": price }],
                    "body_html": description
                }
            })
        });

        const result = await response.json();
        alert(result.message);
    });
</script>

<style>

form {
    width: 300px;
    margin: 0 auto;
}

.title{
    margin-top: 4rem;
}
label {
    font-size: 22px;
    display: block;
    margin-bottom: 5px;
}


input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}


button {
    background-color: #1aa7ff;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border-radius: 3px;
        transition: background-color 0.3s ease;
        font-size: 20px;
        border: none;
        margin-bottom: 14rem;
}


button:hover {
    background-color: #003a5e;
        color: white;
}

button:after {
    content: "";
    clear: both;
    display: table;
}

</style>