{%  include "page-header",title:"About Us" %} 
<section class="about section">
    <div class="conatiner">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid" src="landin3.png">
            </div>
            <div class="col-md-6">
                {{page.content}}
            </div>
        </div>
    </div>
</section>