{% comment %}
    Get all collections
{% endcomment %}
{% assign collections = collections.all %}
{% for collection in collections %}
    <h2>{{ collection.title }}</h2>
    {% comment %}
        Get products for the current collection
    {% endcomment %}
    {% assign custom_products = '' %}
    {% for product in collections['all'].products %}
        {% assign custom_products = custom_products | append: product %}
    {% endfor %}

{% endfor %}
{% capture custom_products %}
    {% for product in collections['all'].products %}
      {{ custom_products }},{{ product.handle }}
    {% endfor %}
  {% endcapture %}
  
  {% assign custom_products = custom_products | split: ',' %}
  
  {% for product in custom_products %}
    {{ all_products[product].title }}
  {% endfor %}
